

./Product.Api/bin/
./Product.Api/obj/

./Product.Infrastructure/obj/
./Product.Infrastructure/bin/

./Product.Domain/bin
./Product.Domain/obj/

./Product.Application/bin/
./Product.Application/obj/

.vs/

./Product.Domain/obj/Debug/
./Product.Application/obj/Debug/
./Product.Infrastructure/obj/Debug/
