OrderService/Order.Api/bin
OrderService/Order.Api/obj

OrderService/Order.Domain/bin
OrderService/Order.Domain/obj

OrderService/Order.Application/bin
OrderService/Order.Application/obj

ProductService/Product.Api/bin
ProductService/Product.Api/obj

ProductService/Product.Domain/bin
ProductService/Product.Domain/obj

ProductService/Product.Application/bin
ProductService/Product.Application/obj

.vs/